* {
    /* border: 1px solid red; */
}

body {
    color:#4A4A4A;
    font-family: Futura, sans-serif;
}



header {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

header #logo {
    display:flex;
}


header #logoSpan {
    color: #9B9B9B;
    font-weight: 300;
}

header nav {
    display: flex;
    align-items: center;
    font-size: 18px;
}

nav a {
    color: #4A4A4A;
    text-decoration: none;
    
}


#banner {
    display: flex;
    padding: 0 24px;
    background-color: #D8D8D8;
    padding-top: 32px;
    padding-bottom: 32px;
}

#banner img {
    width: 60%;
    margin-right: 24px;
}

#banner h1 {
    font-size: 50px;
    font-weight: bold;
}

#bannerTitle {
    width: 30%;
    align-self: center;
    /* text-align: center; */
}

#bannerTitle button {
    width: 100%;
    background-color: #4A4A4A;
    padding: 8px;
    color: white;
    font-size: 18px;
}

#practice {
    display: flex;
    /* padding-top: 32px; */
}

#imgSection {
    width: 60%;
    margin: 32px 24px;
}

#imgSection img {
    width: 100%;
}

#practice aside {
    width: 40%;
    /* background: blue; */
}

.info {
    display: flex;
    padding: 10px;
}

.info img {
    width: 35%;
}

.info .infoText {
    width: 65%;
    height: auto;
    align-content: space-between;
    padding: 16px;
}

.top {
    padding-top: 32px;
}




#learning {
    padding: 32px 72px 0px 72px;
    background-color: #D8D8D8;
}

#learningCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#learning h1 {
    text-align: center;
}


#learning .card {
    background-color: white;
    width: 30%;
    margin-bottom: 32px;
}

.card img {
    width: 100%;
}

.cardText {
    padding: 16px 16px 24px 16px;
}


#thesis {
    padding: 32px 0 32px 24px;
}

#thesisContent {
    display: flex;
}

#thesis h1 {
    text-align: center;
    
}


#videoPart {
    width: 60%;
    padding-right: 24px;
}

#videoPart video {
    width: 100%;
}


#thesisCards {
    width: 40%;
}

#fisma {
    padding-top: 0px;
}

footer {
    padding: 16px 0 32px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #rightContent p {
    margin: 0px;
}

footer a {
    text-decoration: none;
    margin-right: 10px;
}