* {
    /* border: 1px solid red; */
}

body {
    /* color:white; */
    font-family: Futura, sans-serif;
}



header {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    background-color: #373F51;
}

header #logo {
    display:flex;
    /* color: white; */
}


header #logoSpan {
    color: #9B9B9B;
    font-weight: 300;
}

header nav {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

nav a {
    color: white;
    text-decoration: none;
    
}

a { 
    color:#373F51;
    font-weight: 500;
    text-decoration: none;
}

a:hover { 
    color: #DAA49A;
    font-weight: 700;
}
#banner {
    display: flex;
    padding: 0 24px;
    background-color: #DAA49A;
    padding-top: 32px;
    padding-bottom: 32px;
}

#banner #imgWrap {
    width: 60%;
    height: auto;
    margin-right: 24px;
}

#banner img {
    width: 100%;
}

 h1 {
    font-size: 2.5rem;
    font-weight: bold;
} 


h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
}

p {
    /* font-family: Open-sans; */
    font-size: 1rem;
}

q {
    font-style: italic;
}

#bannerTitle {
    width: 30%;
    align-self: center;
    text-align: justify;
    /* text-align: center; */
}

#bannerTitle button {
    width: 100%;
    background-color: #373F51;
    padding: 8px;
    color: white;
    font-size: 18px;
}

#bannerTitle button:hover {
    background-color: #D8DBE2;
    color: black;
    cursor: pointer;
}

#practice {
    display: flex;
    background-color: #D8DBE2;
    padding-top: 32px;
}

#imgSection {
    width: 60%;
    margin: 0px 24px 32px;
}

#imgSection img {
    width: 100%;
    height: auto;
}

#practice aside {
    width: 40%;
    /* background: blue; */
}

.info {
    display: flex;
    padding: 16px 0 16px 16px;
    align-items: center;;
}


.info:hover {
    background-color: #373F51;
    color: white;
    cursor: pointer;
}

.info:hover a {
    color: white;
}

.info:hover a:hover {
    color: #DAA49A;
}

.infoImWrap {
    width: 35%;
    height: auto;
}

.info img {
    width: 100%;
    height: auto;
}

.info .infoText {
    width: 65%;
    height: auto;
    align-content: space-between;
    padding: 16px;
}
/* 
.top {
    padding-top: 32px;
} */




#learning {
    padding: 32px 72px 0px 72px;
    background-color: #373F51;
}

#learningCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#learning h1 {
    text-align: center;
    color: white;
}

#learning .card {
    background-color: white;
    width: 26%;
    margin-bottom: 32px;
    border-radius: 8px;
    transition: all .4s ease-in-out;
}

#learning .card:hover {
    transform: scale(1.08);
    cursor: pointer
}

.card img {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */

}

.cardText {
    padding: 16px 16px 24px 16px;
}


#thesis {
    padding: 32px 0 32px 24px;
    background-color: #D8DBE2;
}

#thesisContent {
    display: flex;
}

#thesis h1 {
    text-align: center;
    
}


#videoPart {
    width: 60%;
    padding-right: 24px;
}

#videoPart video {
    width: 100%;
}


#thesisCards {
    width: 40%;
    /* display: flex; */
}

/* #fisma {
    padding-top: 0px;
} */

footer {
    padding: 16px 0 32px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D8DBE2;
}

footer #rightContent p {
    margin: 0px;
}

footer a {
    text-decoration: none;
    margin-right: 10px;
}